body{
	background-color:#dedede;
	font-family: "黑体";
  	font-size: 14px;
}

.heade{
	background-color: #333333;
	width: 100%;
	margin:-8px;
}

.all{
	width:100%;
	margin: -8px auto;
	min-width: 100px;
}
.header{
	background-color: #333333;
	height: 60px;
	width: 1289px;
	margin: 0 auto;
	padding-left:  30px;
	padding-right:  30px;

}
.header0{
	display: inline-block;
	height: 40px;
	width: 120px;
	padding: 10px;
}
.nava{
	display: inline-block;
	float: right;
	height: 40px;
	min-width: 540px;
}

nav ul{
	float:right;

}
nav ul li{
	line-height: 60px;
	float: left;
	margin-right: 20px;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover{
 	 color:gray;
}

aside{    /*定义article以外的内容  侧栏*/
  background: #fff;
  float: right;
  width: 390px;
  height:500px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px #848484;   /*设置边框阴影*/
}

.celan{
	border-left: 3px solid #ccc;
	padding: 8px;
}

.email{
	height: 20px;
	padding: 15px;
	overflow: hidden;
}

.ps{
	height: 30px;
	color: #ccc;
	font-size: 3;
	padding-left: 150px;

}

.passworld{
	height: 20px;
	padding-left: 48px;
	padding-top: 20px;

}
.sex{
	height: 15px;
	padding-left: 100px;
	padding-top: 15px;
}


.describe1{
	display: inline-block;
	float: left;
	height: 100px;
	padding-left: 73px;
	padding-top: 10px;
}
.describe2{
	height: 100px;
	display: inline-block;
	float: left;
}
textarea{
  margin-top: 10px;
  width: 240px;
  height: 100px;
  margin-left:10px;
}

#button{
	margin:15px;
    width:380px;
    height:45px;
    float:left;
    background-color: #3355d0;
    text-align: center;
    text-decoration:none;
    border-radius:10px;
    cursor:pointer;
}

article{   /*定义外部的内容，内容独立于文档的其他部分*/
  background-color: #fff;
  margin-top: 40px;
  margin-left: 30px;
  width: 57%;
  padding: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px #848484;
}

.beauty{
	display: inline-block;
	margin: 5px;
	padding: 5px;
	text-align: center;
	width:110px;
	height:110px;
	border: 1px solid #ccc;
}
.beauty img{

	width: 80%;
	height: 80%
}

.color_gray{
  color: gray;
}
.text_indent{                      /*首行缩进*/
  text-indent: 2em;
}

table{
  width: 100%;
  margin: 0 auto;
  border-collapse:collapse;
}
thead{
	color: white;
	background-color: #333333
}
tbody{
	background-color: white;
}
tfoot{
	background-color: #cccccc;

}

.foot{
	background-color: #333333;
	width: 100%;
	margin:-8px;
}
.footer{
	background-color: #333333;
	height: 40px;
	width: 1289px;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
	color: white;

}